@font-face {
    font-family: 'scoreboard';
    src: url('/public/css/scoreboard.ttf');

}

.texto-ultimopartido-resultado{
    -webkit-text-stroke: 1px #193f67;
    font-size: 3em;
    font-weight: 900;
    color: yellow;
    
}

.texto-ultimopartido-equipo{
    color:#193f67;
    
}

.texto-slider{
    -webkit-text-stroke: 0.5px #193f67;
    font-size: 2.5em;
    font-weight: 900;
    color: yellow;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media only screen and (max-width: 800px) {

    .texto-slider{
        -webkit-text-stroke: 0.5px #193f67;
        font-size: 6vw;
    }
 
}

@media only screen and (min-width: 600px) {

    .titulo-movil{
        font-size: 2.5vw;
    }
    br { display: none; }
}
@media only screen and (max-width: 600px) {

    .titulo-movil{
        font-size: 0.9em;
    }
}

.bold-text{
    font-weight: bold;
}

.patrocinadoresPrincipales{
    width: 300px;
    margin:auto;
    display:block;
}

.patrocinadoresInstitucionales{
    width: 220px;
    margin:auto;
    display:block;
}

.patrocinadoresNormales{
    width: 180px;
    margin:auto;
    display:block;
}

iframe {
    width: 100%;
    height: 400px;
}

.align-right{
    display: flex;
    justify-content: flex-end;
}

/* Paginacion */

.pagination {
    display: flex;
    justify-content: center;
  }
  
.pagination > * {
margin: 0 5px;
padding: 5px 10px;
border: 1px solid #ccc;
background-color: #fff;
color: #333;
}

.pagination > .active > span {
background-color: #007bff;
color: #fff;
}

.pagination > .disabled > span {
color: #999;
cursor: default;
}

.text-primary{
    color: #193f67 !important;
}

.bg-adc-dark {
    background-color: #193f67 !important;
}

:root {
    --bs-primary: #193f67 !important;
    --bs-secondary: pink !important;
    --bs-light: cyan !important;
    --bs-dark: brown !important;

    --bs-link-color: var(--bs-primary);
    --bs-link-hover-color: #0d1570;
}


a {
    color: var(--bs-primary);
    text-decoration: none;
}

a:hover {
    color: #0d1570; /* o usa lighten/darken manual */
    text-decoration: none;
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: darken(var(--bs-primary), 50%);
    border-color: darken(var(--bs-primary), 50%);
}

.bg-adc-light {
    background-color: var(--bs-light);
}

.page-link {
    color: var(--bs-primary) !important;
}

.page-link.active, .active > .page-link {
    color: #fff !important;
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.copyright {
    background: var(--bs-primary);
    border-top: 1px solid #fff;
}

.footer {
    background: var(--bs-primary) !important;
    color: #fff;
}

.border-button{
    border: 1px solid #fff;
}

.portfolio-item {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.portfolio-item.is-visible {
    opacity: 1;
}
